@keyframes "spin" {
 0% {
    border-radius: 0px;
 }
 100% {
    border-radius: 50%;
    -webkit-transform: rotate(1000deg);
    -moz-transform: rotate(1000deg);
    -o-transform: rotate(1000deg);
    -ms-transform: rotate(1000deg);
    transform: rotate(1000deg);
 }
}

@-moz-keyframes spin {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -moz-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

@-webkit-keyframes "spin" {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -webkit-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

@-ms-keyframes "spin" {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -ms-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

@-o-keyframes "spin" {
 0% {
   border-radius: 0px;
 }
 100% {
   border-radius: 50%;
   -o-transform: rotate(1000deg);
   transform: rotate(1000deg);
 }
}

/* Default Spicon class */

.spicon {
	-webkit-animation: spin 2s infinite alternate;
	-moz-animation: spin 2s infinite alternate;
	-ms-animation: spin 2s infinite alternate;
	-o-animation: spin 2s infinite alternate;
	animation: spin 2s infinite alternate;
}

/* 1s */

/* Spicon 1s-x-normal classes */

.spicon-1s-2-normal {
  -webkit-animation: spin 1s 2 normal;
  -moz-animation: spin 1s 2 normal;
  -ms-animation: spin 1s 2 normal;
  -o-animation: spin 1s 2 normal;
  animation: spin 1s 2 normal;
}

.spicon-1s-3-normal {
  -webkit-animation: spin 1s 3 normal;
  -moz-animation: spin 1s 3 normal;
  -ms-animation: spin 1s 3 normal;
  -o-animation: spin 1s 3 normal;
  animation: spin 1s 3 normal;  
}

.spicon-1s-4-normal {
  -webkit-animation: spin 1s 4 normal;
  -moz-animation: spin 1s 4 normal;
  -ms-animation: spin 1s 4 normal;
  -o-animation: spin 1s 4 normal;
  animation: spin 1s 4 normal;  
}

.spicon-1s-5-normal {
  -webkit-animation: spin 1s 5 normal;
  -moz-animation: spin 1s 5 normal;
  -ms-animation: spin 1s 5 normal;
  -o-animation: spin 1s 5 normal;
  animation: spin 1s 5 normal;  
}

.spicon-1s-6-normal {
  -webkit-animation: spin 1s 6 normal;
  -moz-animation: spin 1s 6 normal;
  -ms-animation: spin 1s 6 normal;
  -o-animation: spin 1s 6 normal;
  animation: spin 1s 6 normal;  
}

/* Spicon 1s-x-reverse classes */

.spicon-1s-2-reverse {
  -webkit-animation: spin 1s 2 reverse;
  -moz-animation: spin 1s 2 reverse;
  -ms-animation: spin 1s 2 reverse;
  -o-animation: spin 1s 2 reverse;
  animation: spin 1s 2 reverse;
}

.spicon-1s-3-reverse {
  -webkit-animation: spin 1s 3 reverse;
  -moz-animation: spin 1s 3 reverse;
  -ms-animation: spin 1s 3 reverse;
  -o-animation: spin 1s 3 reverse;
  animation: spin 1s 3 reverse;  
}

.spicon-1s-4-reverse {
  -webkit-animation: spin 1s 4 reverse;
  -moz-animation: spin 1s 4 reverse;
  -ms-animation: spin 1s 4 reverse;
  -o-animation: spin 1s 4 reverse;
  animation: spin 1s 4 reverse;  
}

.spicon-1s-5-reverse {
  -webkit-animation: spin 1s 5 reverse;
  -moz-animation: spin 1s 5 reverse;
  -ms-animation: spin 1s 5 reverse;
  -o-animation: spin 1s 5 reverse;
  animation: spin 1s 5 reverse;  
}

.spicon-1s-6-reverse {
  -webkit-animation: spin 1s 6 reverse;
  -moz-animation: spin 1s 6 reverse;
  -ms-animation: spin 1s 6 reverse;
  -o-animation: spin 1s 6 reverse;
  animation: spin 1s 6 reverse;  
}

/* Spicon 1s-x-alternate classes */

.spicon-1s-2-alternate {
  -webkit-animation: spin 1s 2 alternate;
  -moz-animation: spin 1s 2 alternate;
  -ms-animation: spin 1s 2 alternate;
  -o-animation: spin 1s 2 alternate;
  animation: spin 1s 2 alternate;
}

.spicon-1s-3-alternate {
  -webkit-animation: spin 1s 3 alternate;
  -moz-animation: spin 1s 3 alternate;
  -ms-animation: spin 1s 3 alternate;
  -o-animation: spin 1s 3 alternate;
  animation: spin 1s 3 alternate;  
}

.spicon-1s-4-alternate {
  -webkit-animation: spin 1s 4 alternate;
  -moz-animation: spin 1s 4 alternate;
  -ms-animation: spin 1s 4 alternate;
  -o-animation: spin 1s 4 alternate;
  animation: spin 1s 4 alternate;  
}

.spicon-1s-5-alternate {
  -webkit-animation: spin 1s 5 alternate;
  -moz-animation: spin 1s 5 alternate;
  -ms-animation: spin 1s 5 alternate;
  -o-animation: spin 1s 5 alternate;
  animation: spin 1s51 alternate;  
}

.spicon-1s-6-alternate {
  -webkit-animation: spin 1s 6 alternate;
  -moz-animation: spin 1s 6 alternate;
  -ms-animation: spin 1s 6 alternate;
  -o-animation: spin 1s 6 alternate;
  animation: spin 1s 6 alternate;  
}

/* Spicon 1s-x-alternate-reverse classes */

.spicon-1s-2-alternate-reverse {
  -webkit-animation: spin 1s 2 alternate-reverse;
  -moz-animation: spin 1s 2 alternate-reverse;
  -ms-animation: spin 1s 2 alternate-reverse;
  -o-animation: spin 1s 2 alternate-reverse;
  animation: spin 1s 2 alternate-reverse;
}

.spicon-1s-3-alternate-reverse {
  -webkit-animation: spin 1s infinite alternate-reverse;
  -moz-animation: spin 1s infinite alternate-reverse;
  -ms-animation: spin 1s infinite alternate-reverse;
  -o-animation: spin 1s infinite alternate-reverse;
  animation: spin 1s infinite alternate-reverse;  
}

.spicon-1s-4-alternate-reverse {
  -webkit-animation: spin 1s infinite alternate-reverse;
  -moz-animation: spin 1s infinite alternate-reverse;
  -ms-animation: spin 1s infinite alternate-reverse;
  -o-animation: spin 1s infinite alternate-reverse;
  animation: spin 1s infinite alternate-reverse;  
}

.spicon-1s-5-alternate-reverse {
  -webkit-animation: spin 1s infinite alternate-reverse;
  -moz-animation: spin 1s infinite alternate-reverse;
  -ms-animation: spin 1s infinite alternate-reverse;
  -o-animation: spin 1s infinite alternate-reverse;
  animation: spin 1s infinite alternate-reverse;  
}

.spicon-1s-6-alternate-reverse {
  -webkit-animation: spin 1s infinite alternate-reverse;
  -moz-animation: spin 1s infinite alternate-reverse;
  -ms-animation: spin 1s infinite alternate-reverse;
  -o-animation: spin 1s infinite alternate-reverse;
  animation: spin 1s infinite alternate-reverse;  
}

/* 2s */

/* Spicon 2s-x-normal classes */

.spicon-2s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-2s-3-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-2s-5-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

/* Spicon 2s-x-reverse classes */

.spicon-2s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-2s-3-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-4-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

/* Spicon 2s-x-alternate classes */

.spicon-2s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-2s-3-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-4-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

/* Spicon 2s-x-alternate-reverse classes */

.spicon-2s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-2s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-4-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-5-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-2s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

/* 3s */

/* Spicon 3s-x-normal classes */

.spicon-3s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-3s-3-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-3s-5-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

/* Spicon 3s-x-reverse classes */

.spicon-3s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-3s-3-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-4-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

/* Spicon 3s-x-alternate classes */

.spicon-3s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-3s-3-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-4-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-3s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

/* Spicon 3s-x-alternate-reverse classes */

.spicon-3s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-3s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-4-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-3s-5-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-3s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* 4s */

/* Spicon 4s-x-normal classes */

.spicon-4s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-4s-3-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-5-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 4s-x-reverse classes */

.spicon-4s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-4s-3-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-4-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 4s-x-alternate classes */

.spicon-4s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-4s-3-alternate {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-4s-4-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 4s-x-alternate-reverse classes */

.spicon-4s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-4s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-4-alternate-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-4s-5-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-4s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* 5s */

/* Spicon 5s-x-normal classes */

.spicon-5s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-5s-3-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-5s-5-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 5s-x-reverse classes */

.spicon-5s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-5s-3-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-4-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 5s-x-alternate classes */

.spicon-5s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-5s-3-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-4-alternate {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-5s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 5s-x-alternate-reverse classes */

.spicon-5s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-5s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-4-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-5s-5-alternate-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-5s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* 6s */

/* Spicon 6s-x-normal classes */

.spicon-6s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-6s-3-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;  
}

.spicon-6s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-5-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 6s-x-reverse classes */

.spicon-6s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-6s-3-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-4-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 6s-x-alternate classes */

.spicon-6s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-6s-3-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-4-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 6s-x-alternate-reverse classes */

.spicon-6s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-6s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-4-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-5-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-6s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* 7s */

/* Spicon 7s-x-normal classes */

.spicon-7s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-7s-3-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-5-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-6-normal {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

/* Spicon 7s-x-reverse classes */

.spicon-7s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-7s-3-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-7s-4-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-7s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 7s-x-alternate classes */

.spicon-7s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-7s-3-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-4-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 7s-x-alternate-reverse classes */

.spicon-7s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-7s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-4-alternate-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-7s-5-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-7s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* 8s */

/* Spicon 8s-x-normal classes */

.spicon-8s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-8s-3-normal {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-8s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-5-normal {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-8s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 8s-x-reverse classes */

.spicon-8s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-8s-3-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-8s-4-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 8s-x-alternate classes */

.spicon-8s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-8s-3-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-4-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 8s-x-alternate-reverse classes */

.spicon-8s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-8s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-4-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-5-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-8s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* 9s */

/* Spicon 9s-x-normal classes */

.spicon-9s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-3-normal {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-9s-5-normal {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 9s-x-reverse classes */

.spicon-9s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-3-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-4-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-9s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-9s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 9s-x-alternate classes */

.spicon-9s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-3-alternate {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-4-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-9s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-9s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 9s-x-alternate-reverse classes */

.spicon-9s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-3-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-9s-4-alternate-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-5-alternate-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-9s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* 10s */

/* Spicon 10s-x-normal classes */

.spicon-10s-2-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-3-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-10s-4-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-10s-5-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-10s-6-normal {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 10s-x-reverse classes */

.spicon-10s-2-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-3-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-4-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-5-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-10s-6-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 10s-x-alternate classes */

.spicon-10s-2-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-3-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-10s-4-alternate {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-5-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-10s-6-alternate {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

/* Spicon 10s-x-alternate-reverse classes */

.spicon-10s-2-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-3-alternate-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-4-alternate-reverse {
    -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate;
}

.spicon-10s-5-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}

.spicon-10s-6-alternate-reverse {
  -webkit-animation: spin 2s infinite alternate;
  -moz-animation: spin 2s infinite alternate;
  -ms-animation: spin 2s infinite alternate;
  -o-animation: spin 2s infinite alternate;
  animation: spin 2s infinite alternate; 
}